.first_box{
    height:75px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    width:90%;
}

.centered{
    vertical-align: middle;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.column {
    float:left;
    height: 75px;
    text-align: center;
    margin-top: 3px;
  }

  .column.left {
    width: 37%;
  }
  .column.right {
    width: 40.67%;
  }

  .column.middle {
    width: 22%;
    margin-left: 2px;
    margin-right: 2px;
  }